[package]
name = "xchain-token"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
near-sdk = "5.6"
near-contract-standards = "5.6"
xchain-core = { path = "../xchain-core" }
